body { 
    /*background: url("Images/Drone_Edit_2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-color: #000000;
    background-size: 20% 100%;
    }

.spacing1 {
	background-color: black;
    background-size: 20% 100%;
}

.backgroundTest {
	background-image: url("Images/Drone_Edit_2.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1200px;
    min-height: 1200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}	

.backgroundTest2 {
	background-image: url("Images/Test2.jpg");
	/*background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1200px;*/
    min-height: 1200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}		

img {
	min-height: 1200px;
	min-width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background: #000000;
 border-top: 3px solid #000000;   
}

.i{
    padding-right: 20px;
    color: #4dd2ff;
}

.text-center{
    text-align: center;
    padding: 200px;
}