
.jumbotron{
    height: 100vh;
}

.small_window{
    background-color: green;

}

.medium_window{
        background-color: white;

}

.large_window{
        background-color: blue;

}
.spacing1 {
	background-color: black;
    background-size: 20% 100%;
}	

.i{
    padding-right: 5px;
    color: #;
}

.padding-top35{
    padding-top: 34vh;
    padding-bottom: 34vh;
}

.topBody{
    padding-top: 250px;
    padding-left: 250px;
    padding-right: 250px;
}

.midBody{
    padding: 250px;
}

.experience_padding{
    padding-bottom: 30px;
}

.border-custom{
    border-color: # !important;
    /* color: #4dd2ff s!important; */
    border-width: 5px !important;
}

.footer {
  /* position: absolute; */ /* THIS LINE FUCKS WITH THE FOOTER */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background: #000000;
 border-top: 3px solid #000000;   
}

/* ----- FONTS ----- */

h1 {
    font-size: 100px;
    color: #007bff !important
}

h2 {
    font-size: 72px;
    color: white;
}

h3 {
    font-size: 18px;
    color: #007bff !important
}

p-1 {
    color: white;

}

.console{
    font-size: 14px;
     font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}

.text1 {
    color: white;
}

/* ----- GALLERY CSS ----- */

@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Varela+Round');

@font-face {
    font-family: "Shopping Script";
    src: url("css/fonts/ShoppingScriptDemo.ttf"),
    url("css/fonts/shoppingscriptdemo-webfont.woff") format("woff"),    
    url("css/fonts/ShoppingScriptDemo.otf") format("opentype"),
    url("css/fonts/shoppingscriptdemo-webfont.svg#filename") format("svg");
}

body {
    position: relative;
    background-attachment: fixed;
    background-color: black;
}
    
span:hover{
    /*transform: scale(.9, .9);*/
    opacity: .8;
}

footer{
    padding: 20px;
    background-color: black;
    color: white
}

.max-height{
    height: 100vh;
}

.fixed{
    z-index: 500;
    position: fixed;
    top: 0;
}

.scroll-button{
    border-radius: 25px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;
}


.img-grid{
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: px;        /* this is the spacing on the grid */
    width: 100%;        /* height is stock 100% */
} 

.navbar{
    /* background: rgb(200, 200, 200);
    background: rgba(209, 209, 209, .5);
    */
    background-color: transparent; /* OR transparent */
    width: 100%;
    text-align: center;
    float: none;
    /* display: inline-block; */
}

.nav-item{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
}

.font_playfair{
    font-family: 'Playfair Display';
    font-size: 30px;
}
    
.font_shopping{
    font-family: "Shopping Script";
    font-size: 50px;
}

/* THIS CODE BLOCK HIDES / DISPLAYS THE LOGO ON SCROLL */ 
.navbar-brand{
    display: none;
}

.header-custom{
    /* background-image: url("images/CO.png"); */
    background-repeat: no-repeat;
    /* background-size: 100% 100%; 
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("images/twobroschillinvibe.jpg");
    */
    width: 100%;
    height: auto;
    /* background-color: white; */
}

.img-header{
    filter: blur(5px);
    -webkit-filter: blur(5px);  
}

.padding_bottom{
    padding-bottom: 30px;
}

.logo_font{
    font-size: 30px;
}

/*
body{
    background-color: red;
}
*/

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .navbar-brand{
    display: block;
    transition: display 200ms linear;
}

.navbar-fixed-top.scrolled .font_playfair{
    display: none;
}

